.container-add-assignment {
    width: 50%;
    margin: 5% auto;
    background: linear-gradient(white, white);
    padding: 10px;
    font-weight: 400;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 5px;
}

.add-assignment-content {
    width: 90%;
    margin: auto;

}

.container-add-assignment h3 {
    width: 90%;
    margin: auto;
    padding: 10px;
    font-family: "Sitka Text";


}

.container-add-assignment form {
    display: block;
    width: 90%;
    margin: auto;

}

.add-assignment-form input[type="text"] {
    display: block;
    padding: 10px;
    font-family: "Roboto";
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;

    border: none;
    border-bottom: 1px solid rgb(186, 186, 186);
}

.add-assignment-form input[type="file"]{
    padding: 10px 0px;
    font-display: "Roboto";
}

.add-assignment-form input[type="date"] {
    padding: 10px;
    font-family: "Roboto";
    display: inline;
    margin: 5px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(186, 186, 186);
    background-color: transparent;
    box-sizing: border-box;

}
.add-assignment-form-selects{
    display: flex;
}
.add-assignment-form-selects div{
    display: inline-block;
    box-sizing: border-box;
    flex: 1;


}

.priority-container{
    margin-left: 5px;
}
.add-assignment-form-selects label{
    display: inline;
}

.add-assignment-form label{
    display: block;
    margin: 5px;
    padding: 5px 0;
}

.add-assignment-form select{
    display: inline;
    padding: 10px;
    width: 100%;
    margin: 5px;
    box-sizing: border-box;

    border: none;
    border-bottom: 1px solid rgb(186, 186, 186);
    background-color: transparent;
}

.add-assignment-form input[type="submit"] {
    display: block;
    box-sizing: border-box;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    background: linear-gradient(#58c6ff, #3399ff );
    border: 1px solid #58c6ff;
    border-radius: 20px;
}

.add-assignment-form input[type="submit"]:hover{
    background: linear-gradient(#3399ff, #58c6ff);
}

.add-assignment-form textarea {
    margin: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(186, 186, 186);
    font-family: "Roboto";
}