
.container-assignments {
    width: 80%;
    margin: 0 auto;

}

.footer-assignment {

    padding: 10px;
    background-color: #58c6ff;
    align-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-assignment p {
    text-align: center;
    color: white;
}

.space {
    background-color: transparent;
    min-height: 10vh;
}

@media screen and (max-width: 600px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }
}