.main{
    display: block;
    position: relative;
    box-sizing: border-box;
}

.settings{
    position: absolute;
    bottom: 20%;
}

.i-heading{
    font-weight: 500;
    background-color: rgba(230, 230, 230, 0.7);
    color: #58c6ff;
}
