.profile{
    background-color: #ffffff;
    padding: 0px;
    border: 1px solid rgb(230, 230, 230);
    margin: 20px 0;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-weight: 400;

}

.i-account-image{
    width: 20%;
    position: absolute;
    right: 2%;

}

.profile-info{
    width: 100%;
    box-sizing: border-box;
    right: 0;
    padding: 10px;
    border-radius: 5px;
    padding: 20px;


    font-weight: 400;
    color: rgba(0,0,0,0.8);

}
.account-profile{
    padding: 0;
    margin: 0;
    background-color: #58c6ff;
    position: relative;
    border-radius: 5px 5px 0px 0px;
}
.profile-info .keyword{
    font-weight: bold;
    padding: 0 5px;
    color: black;
    display: inline;
}

.profile-accounts{
    margin-top: 3%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0 20px;
    padding-bottom: 3%;
}

.profile-accounts h3{
    font-family: "Sitka Text";
    color: rgba(0, 0, 0, 0.8);
}

.profile-accounts table{
    width: 80%;
    margin: auto;
}

.profile-accounts table th{
    text-align: left;
    color: #58c6ff;
}
.profile-accounts table td{
    padding: 1% 0;
    color: rgba(0, 0, 0, 0.8);
}

.profile-info span{
    display: block;
    padding-bottom: 2%;
}
.profile-info h1{
    display: inline;

}
.profile-modules{
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    border-radius: 5px;
    border: solid 1px #58c6ff;
    background-color:rgba(51, 153, 255, 0.1);
    padding: 10px;
}

.profile-modules:after{
    content: "";
    clear: both;
    display: block;

}

.profile-modules-container{
    margin: auto;
}

.profile-modules-container h3{
  margin-top: 3%;
    font-family: "Sitka Text";
    color: rgba(0, 0, 0, 0.8);
}

.profile-modules-col{
    width: 33.33%;
    float: left;
    padding: 0px 15px;
    box-sizing: border-box;
    border-left: 3px solid #58c6ff;
    color: #3399ff;
    min-height: 35vh;

}

.far-left{
    border: none;
}
.profile-modules-col p{
    padding-bottom: 10%;
}

.profile-modules-col a{
    color: #58c6ff;
    text-decoration: none;

}

.profile-modules-col a:hover{
    text-decoration: underline;
}

.profile-modules-col svg{
    display: inline;
    width: 8%;
    margin: 0 5px -5px 0;
    fill: #58c6ff;
}