.login-parent-container{
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    margin: 0%;
    padding: 1%;
    min-height: 100vh;
}

.login-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;

}

.login-content {
    width: 50%;
    margin: 0 auto;
}

.login-header {
    margin: auto;
    text-align: center;
}

.login-header img {
    width: 10%;
    display: block;
    margin: 0 auto;
}

.login-heading{
    color: rgba(0, 0, 0, 0.7);
}

.login-header p {
    font-size: 150%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.login-body {
    margin: 0 auto;
    border: solid 1px   rgb(223, 213, 213);
    border-radius: 5px;
    padding: 20px;
    width: 50%;
}

.login-body form {
    box-sizing: border-box;
    width: 100%;
}

.login-body * {
    display: block;
    margin: 5px;
    width: 100%;
    margin-left: -1px;
    box-sizing: border-box;
    padding: 5px 0;
    
}

.login-body input[type="submit"] {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    border: solid 1px #58c6ff;
    color: white;
    background:linear-gradient( #3399ff, #58c6ff );
}
.login-body input[type="text"]{
   border-radius: 4px;
    border: solid 1px #cccccc;
    padding: 8px 10px;
    font-size: 11pt;
}
.login-body input[type="password"]{
    border-radius: 4px;
    border: solid 1px #cccccc;
    padding: 8px 10px;
    font-size: 11pt;
}

.login-body label {
    color: rgba(0, 0, 0, 0.7);
}

.login-body label * {

}

.forgot {
    color: #58c6ff;
    display: inline;
    padding-left: 10px;
}

.login-footer {
    border: solid 1px rgb(223, 213, 213);
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.login-login-footer {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}