header{

    position: fixed;
    width: 100%;
    background: white;
    margin-top: 0;
    padding: 0px 0;
    top: 0;
    z-index: 1;
    
    

    
    
}


.nav-profile-name{
    
    
    display: inline;
    
}

.container-nav{
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    display: flex;

}

.container-nav > div{
    flex: 1;
    border-right: solid 2px #e4ecf0;
   
}



.nav-links{
    list-style: none;

    margin: 0;
    font-family: "Roboto";
    font-size: 105%;
    font-weight: 400;
    color:#666;
    display: flex;

}

.nav-links li{
    display: inline;
    padding: 10px 0px;
    
}

.search-infomate {
    padding: 10px 5px;
    width: fit-content;
    margin: auto;
    
    
}

.search-infomate .ui{
    border: solid 1px #58c6ff;
}
.search-infomate input {
    padding:  5px;
    border: none;
    
}
.search-infomate input[type="submit"] {
    color: #58c6ff;
    
}

.nav-links li a{
    text-decoration: none;
    color: #666;
    padding:   10px;
    margin: 0 10px;
    
}

.active{
    color: #58c6ff;
    transition: all .5s;
    
    padding: 10px;

}

.active svg path{
    fill: #58c6ff;
}

svg{
    padding: 0 5px;
    margin-bottom: -5px;
    
}




.active svg{
    fill: white;
    z-index: -1;
    transition: all .5s;
}
.active-text{
    color:#58c6ff;
    
    z-index: 1;
    transition: all .5s;
}

.logo{
    width: 10%;
    padding: 0;
    font-family: 'Lobster Two';
    font-size: 120%;
    color: #58c6ff;
    margin: 0;
}










