header{

    position: fixed;
    width: 100%;
    background: white;
    margin-top: 0;
    padding: 0px 0;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #cfd3d4;
    
    
}

.container-nav{
    width: 80%;
    margin: 0 auto;
    padding-top: 0;
}



.nav-links{
    list-style: none;
    padding: 15px 5px;
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    color:rgba(0, 0, 0, 0.7);
}

.nav-links li{
    display: inline;
    padding: 15px 5px;
}

.nav-links li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    padding:   10px;
    margin: 0 10px;
}

.active{
    color: #58c6ff;
    transition: all .5s;
    border-bottom: 2px solid #58c6ff;
    padding: 10px;

}

.active svg path{
    fill: #58c6ff;
}

svg{
    padding: 0 5px;
    margin-bottom: -5px;
    
}




.active svg{
    fill: white;
    z-index: -1;
    transition: all .5s;
}
.active-text{
    color:#58c6ff;
    
    z-index: 1;
    transition: all .5s;
}

.logo{
    width: 10%;
    padding: 0;
    font-family: 'Lobster Two';
    font-size: 120%;
    color: #58c6ff;
    margin: 0;
}










