
.i-notify-container{
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid rgb(230, 230, 230);
    margin: 20px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;


}



.i-notify-link{
    color: #58c6ff;
}
.i-notify-link:hover{
    text-decoration: underline;
}

.image-wrapper{
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
    min-height: 30px;
}
.i-notify-image-box{
    width: 100%;
    position: relative;
    display: block;
   
}

.extra{
    display: inline;
    grid-column: 3;
}

.i-notify-image{
    width: 80%;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.i-notify{
    padding: 10px 0;
}

.info-wrapper{
    position: relative;

}



.i-notify-info{
    display: inline-block;
    width: 80%;
    margin-left: 10px;
    position: absolute;
    top: 20%;
    box-sizing: border-box;
    margin-top: -5px;
}
.i-notify-name{
    display: block;
    padding: 0px 0px 5px 0px;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Bitter", serif;
    font-size: 105%;
    
}
.tags .tag{
    color: #58c6ff;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.2);
    background: #58c6ff;
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
    
}
.i-notify-name:hover{
    text-decoration: underline;
}
.i-notify-occupation{
    display: block;
    padding: 0px 0px 5px 0px;
    font-style: italic;
}
.i-notify-date{
    display: block;
    padding: 0px 0px 5px 0px;
    font-weight: normal;
    color: rgba(143, 131, 131, 0.81);
}
.i-notify-body{
    padding: 0 0 0 0;
   /*margin-top: 2%;*/

    padding: 5px 0px;
    box-sizing: border-box;
    border-radius: 5px;
    line-height: 2.0em;
    font-family:'Bitter', serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 105%;
}
.i-notify-container a{
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}
.i-notify-container a:hover{
    text-decoration: underline;
}

.i-notify-header{
   position: relative;
}

.i-notify-header h3{
    padding: 0;
    display: inline;
    padding: 20px 0;
    font-family: 'Sitka Text';
}
.i-notify-header svg{
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
}
.clearfix{
    clear: both;
}

@media screen and (max-width: 600px) {
    .i-notify-name{
        display: block;
        padding: 0px 0px 5px 0px;
        font-weight: bold;
    }
    .i-notify-occupation{
        display: block;
        padding: 0px 0px 5px 0px;
        font-style: italic;
    }
    .i-notify-date{
        display: block;
        padding: 0px 0px 5px 0px;
        font-weight: normal;
    }
    .i-notify-info{
        position: relative;
        margin-left: 10px;
    }
    .i-notify-image{
        width: 50%;
    }
    .i-notify-container{
        background-color: #ffffff;
        padding: 20px;
        border: 1px solid rgb(230, 230, 230);
        margin: 20px 0;
        border-radius: 5px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;


    }

}