.container-login{
    width: 30%;
    margin:  5% auto;
    border: #58c6ff solid 2px;
    background-color: white;
}

.login-header{
    text-align: center;
    padding: 20px;
}
.form-input-group{
    width: 80%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    padding-left: 5px;
}

.form-input-group *{
    padding: 5px;
    display: block;
    width: 100%;

}
.logo-login{
    padding: 0;
    font-family: 'Lobster Two';
    font-size: 150%;
    color: #58c6ff;
    text-align: center;
}
.form-input-group input[type="text"]{
    padding: 10px;
    border: #949492 solid 1px;
    border-radius: 5px;
}
.form-input-group input[type="password"]{
    padding: 10px;
    border: #9f9e9e solid 1px;
    border-radius: 5px;
}
.form-button{
    border-radius: 25px;
    border: #cccccc solid 1px;
    background-color: #58c6ff;
    padding: 15px;
    width: 325px;
    color: white;
    transition: all 1.5s;
}

.form-button:hover{
    background-color: white;
    color: #58c6ff;
    border-color: #58c6ff;
    transition: all 1.5s;
}

.form-input-group label{
    padding: 10px 0;

}

.form-input-group ul{
    list-style: none;
}

.form-input-group li{
    display: inline;
    color: #58c6ff;
}

.form-input-group li:hover{
    text-decoration: underline;
}